[Unit]
Description=IOPaint AI Image Processing Server
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/projects/idi_motors_bot
Environment="PATH=/root/projects/idi_motors_bot/venv/bin"
ExecStart=/root/projects/idi_motors_bot/venv/bin/iopaint start --model=lama --device=cpu --port=8085 --host=127.0.0.1
Restart=always
RestartSec=10

# Логирование
StandardOutput=append:/var/log/iopaint.log
StandardError=append:/var/log/iopaint-error.log

# Безопасность
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
