[Unit]
Description=BeForward Parser Telegram Bot
After=network.target iopaint.service
Requires=iopaint.service

[Service]
Type=simple
User=root
WorkingDirectory=/root/projects/idi_motors_bot
Environment="PATH=/root/projects/idi_motors_bot/venv/bin"
EnvironmentFile=/root/projects/idi_motors_bot/.env
ExecStart=/root/projects/idi_motors_bot/venv/bin/python rus_bot.py
Restart=always
RestartSec=10

# Логирование
StandardOutput=append:/var/log/rusbot.log
StandardError=append:/var/log/rusbot-error.log

# Безопасность
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
